@model BlogUIViewModel

<div class="sidebar-box ftco-animate">
    <h3>Son Bloglar</h3>
    @foreach (var blogItem in Model.BlogDatas)
    {
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(@blogItem.CoverImageUrl);"></a>
            <div class="text">
                <h3 class="heading"><a href="#">@blogItem.Title</a></h3>
                <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span>@blogItem.CreatedDate.LocalDateTime.ToString("dd.MM.yyyy HH:mm")</a></div>
                    <div><a href="#"><span class="icon-person"></span> @blogItem.Author.AuthorName</a></div>
                    <div><a href="#"><span class="icon-chat"></span> @blogItem.BlogCommentCount</a></div>
                </div>
            </div>
        </div>
    }
</div>