@model AdminUIAuthorViewModel

@{
    ViewData["Title"] = "Yeni Yazar Ekleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yazar Ekleme</h4>
                        <p class="card-subtitle mb-4">
                            Yazar Alanı İçin Bilgileri Bu Ekrandan Kaydedebilirsiniz!
                        </p>

                        <form id="AddNewAuthorForm" asp-area="Admin" asp-controller="AdminAuthor" asp-action="CreateAuthor" method="post">
                            <div class="row">
                                <div class="form-group col-xl-3">
                                    <label asp-for="@Model.CreateData.AuthorName">Yazar Adı</label>
                                    <input asp-for="@Model.CreateData.AuthorName" class="form-control mb-3" placeholder="Yazar Adı"></input>
                                </div>
                                <div class="form-group col-xl-3">
                                    <label asp-for="@Model.CreateData.Description">Açıklama</label>
                                    <input asp-for="@Model.CreateData.Description" type="text" class="form-control" placeholder="Açıklama">
                                </div>
                                <div class="form-group col-xl-3">
                                    <label asp-for="@Model.CreateData.ImageUrl">Görsel URL</label>
                                    <input asp-for="@Model.CreateData.ImageUrl" class="form-control mb-3" placeholder="Görsel URL"></input>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>