@model AdminUICarPricingViewModel

@{
    ViewData["Title"] = "Kiralama/Ödeme Türü Güncelleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    List<SelectListItem> pricingTypeList = ViewBag.PricingTypeList;
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <form id="UpdateCarPricing" asp-area="Admin" asp-controller="AdminCarPricing" asp-action="UpdateCarPricing" method="post">
                    <div class="row mt-sm-5 mt-3 mb-3 d-flex justify-content-center align-items-center">
                        <div class="col-md-8">
                            <div class="card card-pricing">
                                <div class="card-body text-center">

                                    <i class="card-pricing-icon mdi mdi-airplane text-white bg-primary"></i>
                                    <h5 class="font-weight-bold mt-4 text-uppercase">Kiralama/Ödeme Türü Güncelleme</h5>

                                    <ul class="card-pricing-features">
                                        <li>Araca Ait Kiralama/Ödeme Yönetmini Güncelleyebilirsiniz!</li>
                                    </ul>

                                    @Html.HiddenFor(x => x.UpdateData.CarID)
                                    @Html.HiddenFor(x => x.UpdateData.CarPricingID)

                                    <div class="row d-flex justify-content-around align-items-center mt-sm-4 mb-sm-4">
                                        <div class="form-group">
                                            <label asp-for="@Model.UpdateData.PricingTypeID">Ödeme Türü</label>
                                            <select asp-for="@Model.UpdateData.PricingTypeID" asp-items="@pricingTypeList" class="form-control font-weight-bold text-uppercase"></select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.UpdateData.Amount">Ücret (₺)</label>
                                            <input asp-for="@Model.UpdateData.Amount" type="number" min="0" class="form-control" />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info mt-4 mb-2 btn-rounded">
                                        Güncelle
                                        <i class="mdi mdi-update ml-1"></i>
                                    </button>
                                    <a class="btn btn-danger mt-4 mb-2 btn-rounded" href="/admin/carpricing?id=@Model.UpdateData.CarID">
                                        Vazgeç
                                        <i class="mdi mdi-marker-cancel ml-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
