@model AdminUIBannerViewModel

@{
    ViewData["Title"] = "Yeni Ana Sayfa Banner Alanı Ekleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Ana Sayfa Banner Alanı Ekleme</h4>
                        <p class="card-subtitle mb-4">
                            Ana Sayfada Görüntülenecek olan Banner Alanını İçin Bilgileri Bu Ekrandan Kaydedebilirsiniz!
                        </p>

                        <form id="AddNewBannerForm" asp-area="Admin" asp-controller="AdminBanner" asp-action="CreateBanner" method="post">
                            <div class="row">
                                <div class="form-group col-xl-3">
                                    <label asp-for="@Model.CreateData.Title">Başlık</label>
                                    <input asp-for="@Model.CreateData.Title" class="form-control mb-3" placeholder="Başlık"></input>
                                </div>
                                <div class="form-group col-xl-3">
                                    <label asp-for="@Model.CreateData.Description">Açıklama</label>
                                    <input asp-for="@Model.CreateData.Description" type="text" class="form-control" placeholder="Açıklama">
                                </div>
                                <div class="form-group col-xl-3">
                                    <label asp-for="@Model.CreateData.VideoDescription">Video Açıklaması</label>
                                    <input asp-for="@Model.CreateData.VideoDescription" class="form-control mb-3" placeholder="Video Açıklaması"></input>
                                </div>
                                <div class="form-group col-xl-3">
                                    <label asp-for="@Model.CreateData.VideoURL">Video URL</label>
                                    <input asp-for="@Model.CreateData.VideoURL" class="form-control mb-3" placeholder="Video URL"></input>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>