@model AdminUIServiceViewModel

@{
    ViewData["Title"] = "Hizmet Bilgisi Güncelleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Hizmet Bilgisi Güncelleme</h4>
                        <p class="card-subtitle mb-4">
                            Hizmet Bilgisi Alanı İçin Bilgileri Bu Ekrandan Güncelleyebilirsiniz!
                        </p>

                        <form id="UpdateServiceForm" asp-area="Admin" asp-controller="AdminService" asp-action="UpdateService" method="post">
                            @Html.HiddenFor(x => x.UpdateData.ServiceID)
                            <div class="row">
                                <div class="form-group col-xl-6">
                                    <label asp-for="@Model.UpdateData.Title">Hizmet Adı</label>
                                    <input asp-for="@Model.UpdateData.Title" class="form-control mb-3" placeholder="Hizmet Adı"></input>
                                </div>
                                <div class="form-group col-xl-6">
                                    <label asp-for="@Model.UpdateData.IconURL">Hizmet İkon</label>
                                    <input asp-for="@Model.UpdateData.IconURL" class="form-control mb-3" placeholder="Hizmet İkon"></input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xl-12">
                                    <label asp-for="@Model.UpdateData.Description">Açıklama</label>
                                    <textarea asp-for="@Model.UpdateData.Description" rows="6" class="form-control mb-3" placeholder="Açıklama"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                Güncelle
                                <i class="mdi mdi-update ml-1"></i>
                            </button>
                            <a class="btn btn-danger mi-2" href="/admin/service">
                                Vazgeç
                                <i class="mdi mdi-marker-cancel ml-1"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>