@model AdminUISocialMediaViewModel

@{
    ViewData["Title"] = "Yeni Sosyal Medya Hesabı Ekleme";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Sosyal Medya Bilgisi Ekleme</h4>
                        <p class="card-subtitle mb-4">
                            Sosyal Medya Bilgisi Alanı İçin Bilgileri Bu Ekrandan Kaydedebilirsiniz!
                        </p>

                        <form id="AddNewSocialMediaForm" asp-area="Admin" asp-controller="AdminSocialMedia" asp-action="CreateSocialMedia" method="post">
                            <div class="row">
                                <div class="form-group col-xl-4">
                                    <label asp-for="@Model.CreateData.Name">Sosyal Medya Adı</label>
                                    <input asp-for="@Model.CreateData.Name" type="text" class="form-control mb-3" placeholder="Sosyal Medya Adı"></input>
                                </div>
                                <div class="form-group col-xl-4">
                                    <label asp-for="@Model.CreateData.Icon">Sosyal Medya İkon</label>
                                    <input asp-for="@Model.CreateData.Icon" class="form-control mb-3" placeholder="Sosyal Medya İkon"></input>
                                </div>
                                <div class="form-group col-xl-4">
                                    <label asp-for="@Model.CreateData.Url">Sosyal Medya URL</label>
                                    <input asp-for="@Model.CreateData.Url" type="text" class="form-control mb-3" placeholder="Sosyal Medya URL" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                Kaydet
                                <i class="mdi mdi-content-save-move ml-1"></i>
                            </button>
                            <a class="btn btn-danger mi-2" href="/admin/socialmedia">
                                Vazgeç
                                <i class="mdi mdi-marker-cancel ml-1"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>