@model BlogUIViewModel

<div class="pt-5 mt-5">
    <h3 class="mb-5">@Model.BlogByIdData.BlogComments.Count() Yorum</h3>
    <ul class="comment-list">

        @foreach (var blogCommentItem in Model.BlogByIdData.BlogComments)
        {
            <li class="comment">
                <div class="vcard bio">
                    <img src="@Model.BlogByIdData.Author.ImageUrl" alt="author-image">
                </div>
                <div class="comment-body">
                    <h3>@blogCommentItem.Name</h3>
                    <div class="meta">@blogCommentItem.CreatedDate.LocalDateTime.ToString("dd.MM.yyyy HH:mm")</div>
                    <p>@blogCommentItem.Description</p>
                    <p><a href="#" class="reply">Cevapla</a></p>
                </div>
            </li>
        }
    </ul>

    <div class="comment-form-wrap pt-5">
        <div class="form-group">
            <button type="button" id="PostNewComment" class="btn py-3 px-4 btn-primary"> Yorum Yap</button>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/carbook-master/js/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $("#PostNewComment").click(function(){
            Swal.fire({
                html: `@await Component.InvokeAsync("_BlogDetailLeaveACommentComponentPartial", new { id = @Model.BlogByIdData.BlogID })`,
                width: 1250,
                showConfirmButton: false
            });
        });
    });
</script>