@model CarReviewUIViewModel

<div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
    <div class="row">

        @* Car Reviews *@
        <div class="col-md-7">
            <h3 class="head">@Model.CarReviews.Count() Değerlendirme</h3>
            @foreach (var carReviewItem in Model.CarReviews)
            {
                <div class="review d-flex">
                    <div class="user-img" style="background-image: url(images/person_1.jpg)" alt="user-image"></div>
                    <div class="desc">
                        <h4>
                            <span class="text-left">@carReviewItem.Name @carReviewItem.Surname</span>
                            <span class="text-right">@carReviewItem.ReviewDate.ToString("dd.MM.yyyy HH:mm")</span>
                        </h4>
                        <p class="star">
                            <span>
                                @for (int i = 0; i < carReviewItem.CommentStar; i++)
                                {
                                    <i class="ion-ios-star"></i>
                                }
                            </span>
                            <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                        </p>
                        <p>@carReviewItem.Comment</p>
                    </div>
                </div>
            }
        </div>

        @* Add New Review For Car *@
        <div class="col-md-5">
            <div class="rating-wrap">
                <h3 class="head">Değerlendirmeler</h3>
                <div class="wrap">
                    <p class="star">
                        <span>
                            (@ViewBag.StarsFive)
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                        </span>
                    </p>
                    <p class="star">
                        <span>
                            (@ViewBag.StarsFour)
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                        </span>
                    </p>
                    <p class="star">
                        <span>
                            (@ViewBag.StarsThree)
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                        </span>
                    </p>
                    <p class="star">
                        <span>
                            (@ViewBag.StarsTwo)
                            <i class="ion-ios-star"></i>
                            <i class="ion-ios-star"></i>
                        </span>
                    </p>
                    <p class="star">
                        <span>
                            (@ViewBag.StarsOne)
                            <i class="ion-ios-star"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>